* {
    font-family: 'Sumana', serif;
}

body {
    background-color: #050919;
    color: ivory;
}

.header {
height: 100vh;
background: #050919;
width: 100%;

}


#heroHeader {
    margin-top: 0;
    justify-content: center;
    text-align: center;
    color: ivory;
    z-index: 1;
}


#learnBtn {
    color: ivory;
    box-sizing: border-box;
    border-color: ivory;
    border-style: solid;
    width: 200px;
    height: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    z-index: 8000 !important;
    position: absolute;
    left: 0;
    right: 0;
}

#learnBtn:hover {
    cursor: pointer;
    background-color: ivory;
    color: #050919;
}

canvas{
	display:block;
    vertical-align:bottom;
    overflow: auto;
    position:absolute;
    top: 0;
    height: 100vh;
    z-index: 1 !important;
    color: #050919 !important;
}

.count-particles {
    display: none;
}

#heroFiller {
    height: 35vh;
}
