.progress {
    width: 70% !important;
    justify-content:center;
    float: right;
    margin-right: 7%;
}
.progressName {
    margin-left: 7%;
}

.skillsHeader {
    text-align: left;
    margin-left: 11%;
}

#skillsStart {
    height: auto;
}

@media only screen and (max-width: 820px) {
    .progressName {
        margin-right: 20vh;
    }
}