.progress {
    width: 70% !important;
    /* margin-right: 7%; */
    overflow:auto;
    float:right;
}

.progress-bar {
    overflow:auto;
}

.progressName {
    /* margin-left: 7%; */
    text-align: right !important;

}

.skillsHeader {
    text-align: left;
    margin-left: 7%;
    font-family: 'Audiowide', cursive;
}

#skillsStart {
    height: auto;
    overflow: auto;
    /* background-color: ivory;
    background: url("./skytrees.jpg");
    background-position: center;
    background-size: cover; */
}

@media only screen and (max-width: 820px) {
    .progressName {
        margin-right: 20vh;
    }
}

.chartDiv {
    margin-left: 15%;
    margin-right: 15%;
}

.ct-label {
    font-size: 14px;
    font-weight: bolder;
    color: #050919;
}

.ct-bar {
    color: navy;
    background-color: navy;
}

.chartSpace {
    margin-bottom: 4%;
}