.aboutFiller {
    height: 5vh;
}

.aboutHeader {
    font-size: 40px;
    margin-bottom: 7vh;
}

.thumbnail, .profileBody {

background-color: #E0F7FF;
}

.thumbRow {
    width: 100%;
    max-width: 100%;
}

.profile {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0vh;
    padding-right: 0vh;
    width: 75%;
    height: auto;
}

.profileDiv {
    /* margin-left: 15vh;
    margin-right: 15vh; */
}

@media only screen and (max-width: 600px) {
    .profileDiv {
        margin-left: 3vh;
        margin-right: auto;

    }


}

.aboutDiv {
    padding-right: auto !important;
    padding-left: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.aboutMe {
    text-align: left;
    margin-top: 10%;
    margin-bottom: auto;
    position: absolute;
}

.aboutImg {
    border-radius: 50%;
    background: ivory;
    padding: 5%; 
    width: auto;
    height: auto;  
}

.aboutImg:hover {
    border-radius: 50%;
    background: #FCFA85;
    padding: 5%; 
    width: auto;
    height: auto;  
}

.aboutTransition-enter {
    opacity: 0;
}

.aboutTransition-enter.aboutTransition-enter-active {
    opacity: 1;
}

.aboutIcons {
    margin-top: 5%;
    justify-content: right;
}

.aboutRow {
    overflow: auto;
    height: auto;
}