.aboutFiller {
    height: 2vh;
}

.aboutHeader {
    font-size: 40px;
    margin-bottom: 5vh;
    text-decoration: underline;
}

.panelHeader {
    background-color: #FFFD9B !important;
    margin-left: auto;
    margin-right: auto;
}

.panelBody {
    background-color: #A6ECF4 !important;
}

.thumbnail, .profileBody {

background-color: #E0F7FF;
}

.thumbRow {
    width: 100%;
    max-width: 100%;
}

.profile {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0vh;
    padding-right: 0vh;
}

.profileDiv {
    /* margin-left: 15vh;
    margin-right: 15vh; */
}

@media only screen and (max-width: 600px) {
    .profileDiv {
        margin-left: 3vh;
        margin-right: auto;

    }


}

.aboutDiv {
    padding-right: auto !important;
    padding-left: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.aboutMe {
    text-align: left;
    margin-top: 3vh;
}