.contactIcons {
    width: 3vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.contactIcons:hover {
    cursor:pointer;
    -moz-box-shadow: 0 0 100px ivory;
    -webkit-box-shadow: 0 0 100px ivory;
    box-shadow: 0px 0px 100px ivory;
}

.contactRow {
    margin-bottom: 5vh;
}
