.footer {
    background-color: rgb(53, 53, 53);
    color: white !important;
    width: 100%;
    margin-top: 10vh;
}

.footerSection {
    color: white !important;
    text-align: left;
    padding: 5px;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

.iconLinks {
    float: right;
}

.footerIcons {
    width: 5vh;
    height: auto;
    float: right;
    overflow: auto;
    margin-right: 5vh;
    margin-top: 0vh;
    margin-bottom: 3vh;
}

.footerIcons:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 100px ivory;
    -webkit-box-shadow: 0 0 100px ivory;
    box-shadow: 0px 0px 100px ivory;
}

.upArrow {
    justify-content: center;
    width: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-color: ivory;
    border-style: dashed;
}

.upArrow:hover {
    cursor:pointer;
    border-radius: 50%;
    -moz-box-shadow: 0 0 100px ivory;
    -webkit-box-shadow: 0 0 100px ivory;
    box-shadow: 0px 0px 100px ivory;
    background-color: ivory;
}

.row {
    width: 100% !important;
}