.footer {
    background-color: rgb(53, 53, 53);
    color: white !important;
    width: 100%;
    margin-top: 10vh;
}

.footerSection {
    color: white !important;
    text-align: left;
    padding: 5px;
    margin-top: 2vh;
    margin-bottom: 0vh;
    margin-left: 5vh;
}

.iconLinks {
    float: right;
}

.footerIcons {
    width: 5vh;
    height: auto;
    float: right;
    overflow: auto;
    margin-right: 5vh;
    margin-top: 0vh;
    margin-bottom: 3vh;
}

.footerIcons:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 100px ivory;
    -webkit-box-shadow: 0 0 100px ivory;
    box-shadow: 0px 0px 100px ivory;
}

.upArrow {
    width: 7vh;
    margin-left: auto;
    margin-right: 2vh;
    margin-bottom: 2vh;
    border-color: ivory;
    border-style: dashed;
    position: fixed;
    bottom:0;
    right: 0;
    z-index: 9999;
    border-radius: 50%;
    background-color: ivory;
}

.upArrow:hover {
    cursor:pointer;
    border-radius: 50%;
    -moz-box-shadow: 0 0 100px #FCFA85;
    -webkit-box-shadow: 0 0 100px #FCFA85;
    box-shadow: 0px 0px 100px #FCFA85;
    background-color: #FCFA85;
}

.row {
    width: 100% !important;
}